/*
colors:
  blue 1:   rgb(35, 170, 253)  
  blue 2:   rgb(64, 157, 187)
  blue 3:   rgb(163, 182, 224)
  yellow:   rgb(246, 244, 169)
  green 1:  rgb(169, 246, 187)
  green 2:  rgb(204, 225, 210)
  red 1:    rgb(240, 148, 168)
*/

.large-wrapper{
   width: 100%;
   max-width: 1000px;
   margin: auto;
   outline:3px dashed rgb(35, 170, 253);
  margin-bottom: 50vh;
}

.header-wrapper{
  width:100%;
  height:60px;
  background-color: rgb(169, 246, 187);
  margin-bottom: 50px;
  position: sticky;
  top: 0px;
  z-index: 2; 
  text-align: center;
  
}

.header-wrapper h1{
  margin-top:10px;
  
}

.main-wrapper{
  display:flex;
  gap: 20px;
  /* background-color: lightgray; */
  margin-bottom: 50px;
}

.left-bottom-wrapper{
  width: 33%;
  display: flex;
  flex-direction: column;
  gap:20px;
}

@media only screen and (max-width:600px){
  .header-wrapper{
    position:inherit;
  }
  .main-wrapper{
    flex-direction: column-reverse;
  }

  .left-bottom-wrapper{
    width:100%;
  }
}
.text-box-wrapper {
   background-color: rgb(64, 157, 187); 
  padding: 5px;

}
.text-box-wrapper:first-child{
  background-color: rgb(163, 182, 224);
}
.text-box-wrapper:last-child{
  background-color: rgb(163, 182, 224);
}

.right-top-wrapper{
  flex: 1;
  /* if there's more space inside the box, the flex box should take all of that space */
  /* background-color: red; */

  display:flex;
  flex-direction: column;
  gap:20px;

}

@media only screen and (max-width:600px){
  .right-top-wrapper{
    position: sticky;
    top:0px;
  }
}
.extra-image-wrapper{
  display: flex;
  gap:20px;
}
.image-box-wrapper{
  width:50%;
  background-color: rgb(246, 244, 169);
  /* height:100px; */
}

.image-box-wrapper img{
  width: 100%;
  display:block;
}

.canvas-section-wrapper{
  display:flex;
  flex-direction: column;
  gap:20px;

  position: sticky;
  top: 110px;
}
.canvas-container{
  width:100%;
  /* height: 300px; */
  background-color: rgb(240, 148, 168);

}

.canvas-container canvas{
  width: 100% !important;
  height: 100% !important;
  display: block;
}

.invisible-buffer{
  width:100%;
  height: 300px;
  background-color: rgb(204, 225, 210);

}

@media only screen and (max-width:600px){
  .extra-image-wrapper{
    display: none;
  }
  .invisible-buffer{
    display: none;
  }
}

.fin-wrapper{
  height:120px;
  background-color: rgb(169, 246, 187);

}

